<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="addPost()">
    add
  </ion-button>
  <ion-button (click)="removeCrypto()">
    remove crypto
  </ion-button>
  <ion-button (click)="addCrypto()">
    add crypto
  </ion-button>
  <ion-button (click)="readAll()">
    read values
  </ion-button>

  
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Información almacenada en bases de datos</ion-card-subtitle>
      <ion-card-title>Pouch DB</ion-card-title>
    </ion-card-header>
    
    <ion-card-content >
      <ngx-json-viewer [json]="result"></ngx-json-viewer>
    </ion-card-content>
  </ion-card>



  
</ion-content>
