<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="addPost()">
    add
  </ion-button>
  <ion-button (click)="removeCrypto()">
    remove crypto
  </ion-button>
  <ion-button (click)="addCrypto()">
    add crypto
  </ion-button>
  <ion-button (click)="readAll()">
    read values
  </ion-button>
  <ion-button (click)="addBigGeoJSON()">
    add geojson
  </ion-button>

  
 
    <div>
      <ion-text>Información almacenada en bases de datos</ion-text>
      <ion-title>Pouch DB</ion-title>
    </div>
    
    <div class="json ion-margin ion-padding" >
      <ngx-json-viewer [json]="result"></ngx-json-viewer>
    </div>
 



  
</ion-content>
